@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.Portfolio-Heading{
    font-family: 'Great Vibes', cursive;
    font-weight: 500;
  /*font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;*/
}
